.carousel-item {
    height: 450px;
}

.carousel-caption {
    top: 100px;
}

#h2_car {
    font-size: 50px;
    color: black;
    text-shadow: -1px -1px white;
}

#p_car {
    font-size: 30px;
    color: black;
    text-shadow: -1px -1px white;
}