.carousel-item {
    height: 450px;
}

.carousel-caption {
    top: 100px;
}

#car_button {
    background-color: rgb(253,187,10);
    color: black;
}

#car_button:hover {
    background-color: rgb(247, 208, 103);
}

#h2_car {
    font-size: 50px;
    color: black;
    text-shadow: -1px -1px white;
}

#p_car {
    font-size: 30px;
    color: black;
    text-shadow: -1px -1px white;
}