#create_div {
    margin: 20px;
}

#create_gift_button {
    background-color: rgb(253,187,10);
    color: black;
    font-size: 25px;
    width: 100%;
}

#next_button {
    background-color: rgb(253,187,10);
    color: black;
    font-size: 22px;
    width: 25%;
    right: 0;
    position: absolute;
    bottom: 0;
}

.arrow {
    border: solid rgb(26,31,113);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }