#footer {
    position: absolute;
    border-top: "1px solid #E7E7E7";
    left: "0";
    bottom: "0";
    right: "0";
    height: "60px";
}

#col_foot {
    background-color: rgb(26,31,113);
}

#p_foot {
    color: white;
}