.container {
    text-align: center;
    top: 25%;
    margin: 100px;
}

#col_home {
    height: 50vh;
    border-right: 1px fashed #333;
}

#bgColor {
    background-color: rgb(253,187,10);
    color: black;
}

h4, p {
    text-align: center;
}