.content {
    max-width: 500px;
}

#log_button {
    background-color: rgb(253,187,10);
    color: black;
}

#log_button:hover {
    background-color: rgb(247, 208, 103);
}

#col_login {
    height: 100vh;
}